<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <!-- <link rel="stylesheet" href=""> -->
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/navbar %>
    </header>

    <!-- form filter -->
    <div class="container" style="margin-top: 20px">
        <h1 style="font-family:Georgia, 'Times New Roman', Times, serif">Add</h1>
        <hr>
        <div class="container" style="margin-top: 20px ">
            <div class="card bg-light mb-3" style="font-family: initial;">
                <div class="card-header text-white bg-dark mb-3">
                    <h2 style="font-family:Georgia, 'Times New Roman', Times, serif">Add New User !</h2>
                </div>
                <div class="card-body">
                    <form action="/users/add" method="post">

                        <div class="form-group row">
                            <label for="first-name" class="col-sm-2 col-form-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="first-name" name="firstName" value=""
                                    placeholder="First Name" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="last-name" class="col-sm-2 col-form-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="last-name" name="lastName" value=""
                                    placeholder="Last Name" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" name="email" value=""
                                    placeholder="Email" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="password" name="password" value=""
                                    placeholder="Password" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="position" class="col-sm-2 col-form-label">Position</label>
                            <div class="col-sm-10">
                                <select name="position" id="position" class="form-control">
                                    <option selected disabled> Choose default position ...</option>
                                    <option class="form-control" value="Manager">Manager</option>
                                    <option class="form-control" value="Software Developer">Software Developer</option>
                                    <option class="form-control" value="Quality Assurance">Quality Assurance</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="type-job" class="col-sm-2 col-form-label">Type Job</label>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="fulltime" name="type"
                                        value="Fulltime">
                                    <label class="form-check-label" for="fulltime">
                                        Fulltime
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="parttime" name="type"
                                        value="Parttime">
                                    <label class="form-check-label" for="parttime">
                                        Part-time
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="type-job" class="col-sm-2 col-form-label">Role</label>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="admin" name="role" value="Admin">
                                    <label class="form-check-label" for="admin">
                                        Admin
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="user" name="role" value="User">
                                    <label class="form-check-label" for="user">
                                        User
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary"> Submit </button>
                            </div>
                        </div>

                    </form>






                </div>
            </div>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include ../partials/footer %>
</body>

</html>